.hero{
    width: 100%;
    position: relative;
    .hero__img{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            border-radius: 20px;
            height: 640px;
            object-fit: contain;
        }
        .hero__text{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            transform: translateY(450px);
            .hero__title{
                color: #fff;
                font-size: 32px;
                font-weight: 500;
                font-family: Roboto;
            }
            .infos{
                display: flex;
                gap: 12px;
                color: #fff;
                margin-bottom: 16px;
            }
            .hero__btn{
                padding: 14px 137px;
                border: none;
                display: flex;
                gap: 7px;
                align-items: center;
                background-color: #fff;
                border-radius: 12px;
                color: #C61F1F;
                font-size: 16px;
                font-weight: 500;
                font-family: Roboto;
            }

        }
    }
}